.center {
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


  

#menu li{
    display: inline;
    padding: 16px 50px;
}

#menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu li a:hover{
    font-size: 22px;
    color:white;
}


.p-30{
    padding: 30px;
}

.br-30 {
    border-radius: 30%;
    color: pink;
    border: 8px solid pink;
}

.wh-200 {
    width: 200px;
    height: 200px;
}

.tm-social{
    width: 40px;
    height: 40px;
}

.wb-50 {
    margin-bottom: 50px;
}

.justify{
    text-align: justify;
}

.bc{
    background-color: #3f89ff;
}
.transparente{
    background-color: transparent ! important;
}
.letras{
    
    color: orangered;
  }
  .fondo2{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/011/979/218/original/alexey-guseynov-galaxy-egg-ezgif-optimize.gif?1532415638");
    
    
    background-size: 200%;
  }
  .letrasb{
    
    color: darkblue;
  }
  .tama{
    width: 100px;
    height: 100px;
  }